{% extends 'company/base.html' %}
{% load static %}
{% block title %}Home | Capybara{% endblock title %}
{% block content %}
  <body>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">What is Capybara</h1>
      <img src="{% static 'image/body1.png' %}" alt="My image">
      <p class="fs-5 text-muted">
        You thought the beaver was a rodent of unusual size? The capybara is twice that big—the biggest rodent on Earth. These impressive semi-aquatic mammals are found throughout much of northern and central South America, though a small invasive population has been seen in Florida. They’re closely related to guinea pigs and rock cavies, and more distantly related to chinchillas and agouti.
    </div>


    {% if user.is_authenticated %}
      {% for pd in allproduct %}
          <h3>{{pd.title}}</h3>
          <p>
           Description : {{pd.description}}<br>
           Price :{{pd.price}} USD<br>
           Quantity : {{pd.quantity}} Ea<br>
          <hr>
          </p>
      {% endfor %}
      {% if user.profile.usertype == 'vip' %}  
          <h2>vip discount 20 %</h2>
      {% elif user.profile.usertype == 'member'%}
          <h2>vip discount 10 %</h2>
      {% endif %}
    {% else %}
          <h3>can't see that</h3>

    {% endif %}
      

  </header>

{% endblock content %}