{% extends 'company/base.html' %}

{% load static %}
{% block title %}Service | Capybara{% endblock title %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">baby capybara</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/EA</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Name: Bobby</li>
              <li>Posted: 02/05/2022</li>
              <li>Email: Email Seller</li>
              <li>Location: Arizona</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">View Details</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Capybara</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/EA</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Name: SAM</li>
              <li>Posted: 10/10/2021</li>
              <li>Phone: 2093277397</li>
              <li>Location: Arizona</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">View Details</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">prairie dogs</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/EA</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Name: Steve</li>
              <li>Posted: 11/15/2021</li>
              <li>Phone: 731-608-3193</li>
              <li>Location: Tennessee</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">View Details</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}